Repository Webgains/superset, pull requests merged in 2024-12, with the labels that each got.

#35 WI-5739 Add PR deployment workflow
  .github/workflows/build.yml
  .github/workflows/license-check.yml
  .github/workflows/pr-closed.yml
  .github/workflows/pr-deployment.yml
  .github/workflows/pr-lint.yml
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-frontend.yml
  superset-frontend/plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  superset/config.py
  superset/jinja_context.py
  superset/security/manager.py
  superset/views/base.py
Labels: github_actions, plugins

#39 SRV-872 feat - better translations for comparison table
  superset-frontend/packages/superset-ui-core/src/translation/TranslatorSingleton.ts
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/src/transformProps.ts
  superset/translations/utils.py
Labels: i18n, plugins, packages

#32 Lokalise: Translations update
  locales/de/translation.json
  locales/en/translation.json
  locales/es/translation.json
  locales/fr/translation.json
  locales/it/translation.json
  locales/nl/translation.json
  superset-frontend/packages/superset-ui-core/src/translation/TranslatorSingleton.ts
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/src/transformProps.ts
  superset/translations/utils.py
Labels: i18n, plugins, packages

#40 SRV-920 feat - calculating correct date for 'X ... ago' tooltips
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
Labels: plugins

#28 SRV-862: dispatch click to parent
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
Labels: plugins
